---
layout: default
---
<section id="blog-page">
  <div class="container">
    <div class="row">
      <div class="col-md-3 blog-menu">
        {% for post in site.posts %}
          <ul class="list-unstyled">
            <li>
              <small>{{ post.date | date_to_string }}</small>
              <a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a>
            </li>
          </ul>
        {% endfor %}
      </div>
      <div class="col-md-9">
        <h1>Blog</h1>
        <ul class="posts list-unstyled">
          {% for post in site.posts %}
            <li id="{{ post.number }}">
              <h2><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></h2>
              <small>{{ post.date | date_to_string }} por {{ post.author }}</small>
              <p>{{ post.excerpt }} <span><a href="{{site.baseurl}}{{post.url}}">ver más</a></span></p>
            </li>
          {% endfor %}
        </ul>
      </div>
    </div>
  </div>
</section>
