---
layout: default
---
<section class="container-ned">
  <div class="container">
  	<div class="row">
      <div class="col-md-12">
        <img src="{{ site.baseurl }}/img/logo-escuela.svg" title="Escuela de Incidencia">
        <h2>¿Qué es Escuela de Incidencia?</h2>
      </div>
  		<div class="col-md-6">
        <p>La Escuela de Incidencia es una iniciativa de Ciudadano Inteligente, realizada con el apoyo de <a href="//www.ned.org"> National Endowment for Democracy</a>, que busca fomentar el liderazgo colaborativo y participativo de nuevas generaciones para lograr cambios sociales a través de procesos de incidencia en el ámbito gubernamental. Desde la Escuela de Incidencia se transfieren conocimientos y herramientas metodológicas a jóvenes activistas líderes, para fortalecer sus habilidades de planificación estratégica, facilitación de procesos colaborativos e incidencia en políticas públicas. </p>
        <p>Esto se logra aplicando la metodología de <a href="//labcivico.org">LabCívico</a>, que permite identificar problemáticas públicas concretas y mapear actores clave para generar un plan de trabajo colaborativo para su solución. En su primera versión, la Escuela será implementada en Bolivia, Colombia, Ecuador y Perú; países donde ya hemos iniciado una convocatoria para recibir postulaciones.</p>
        <a class="btn btn-danger hidden" href="#criterios-de-elegibilidad" role="button" target="_blank"><span>Conoce los criterios de elegibilidad</span></a>
      </div>
      <div class="col-md-6">
        <img src="{{ site.baseurl }}/img/escuela.png" title="Escuela de Incidencia" class="img-responsive">

      </div>
    </div>
  </div>
</section>
<section class="container-ned">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h2>Etapas de la Escuela de Incidencia</h2>
        <div class="row">
          <div class="col-md-3">
            <div class="etapa-ned">
              <div class="ribbon-wrapper">
                <div class="ribbon">presencial</div>
              </div>
              <img src="{{ site.baseurl }}/img/etapa-1.svg" class="img-responsive">
              <h2>1</h2>
              <h4>Participar en taller de incidencia</h4>
              <p>Se compartirá la metodología LabCívico, que permite facilitar procesos de incidencia colectiva.</p>
                <i class="fa fa-calendar" aria-hidden="true"></i><span> Período: </span>abril - mayo<br>
                <i class="fa fa-cog" aria-hidden="true"></i><span> Modalidad: </span>presencial<br>
                <i class="fa fa-clock-o" aria-hidden="true"></i><span> Duración: </span>3 días<br>
                <i class="fa fa-flag" aria-hidden="true"></i><span> Sedes: </span>Bogotá, La Paz, Lima y Quito
              </ul>
            </div>
          </div>
          <div class="col-md-3">
            <div class="etapa-ned">
              <img src="{{ site.baseurl }}/img/etapa-2.svg" class="img-responsive">
              <h2>2</h2>
              <h4>Desarrollar LabCívicos</h4>
              <p>Quienes participan de la Escuela de Incidencia pondrán en práctica las metodologías transferidas durante el taller presencial, realizando un laboratorio cívico.</p>
              <i class="fa fa-calendar" aria-hidden="true"></i><span> Período: </span>junio - julio</li><br>
              <i class="fa fa-cog" aria-hidden="true"></i><span> Modalidad: </span>asesoría virtual de Ciudadano Inteligente</li><br>
              <i class="fa fa-clock-o" aria-hidden="true"></i><span> Duración: </span>1 mes de preparación + 2 días por LabCívico</li>
            </div>
          </div>
          <div class="col-md-3">
            <div class="etapa-ned">
              <img src="{{ site.baseurl }}/img/etapa-3.svg" class="img-responsive">
              <h2>3</h2>
              <h4>Implementar Proyectos LabCívicos</h4>
              <p>Los Proyectos LabCívico con mayor solidez y factibilidad de implementación serán apoyados con un pequeño financiamiento de FCI para alcanzar sus objetivos de incidencia (restringido a disponibilidad de financiamiento).</p>
              <i class="fa fa-calendar" aria-hidden="true"></i><span> Período: </span>julio - septiembre</li><br>
              <i class="fa fa-cog" aria-hidden="true"></i><span> Modalidad: </span>asesoría virtual de Ciudadano Inteligente</li><br>
              <i class="fa fa-clock-o" aria-hidden="true"></i><span> Duración: </span>3 meses</li>
            </div>
          </div>
          <div class="col-md-3">
            <div class="etapa-ned">
              <img src="{{ site.baseurl }}/img/etapa-4.svg" class="img-responsive">
              <h2>4</h2>
              <h4>Evaluar y reportar proyectos</h4>
              <p>Participantes con proyectos LabCívico seleccionados, evaluarán el proceso y reportarán resultados.</p>
              <i class="fa fa-calendar" aria-hidden="true"></i><span> Período: </span>septiembre - octubre</li><br>
              <i class="fa fa-cog" aria-hidden="true"></i><span> Modalidad: </span>asesoría virtual de Ciudadano Inteligente</li><br>
              <i class="fa fa-clock-o" aria-hidden="true"></i><span> Duración: </span>2 semanas</li>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</section>
<section class="container-ned hidden" id="criterios-de-elegibilidad">
  <div class="container">
  <div class="row">
    <div class="col-md-6">
      <h2>¿Te gustaría participar?</h2>
      <h4>Criterios de elegibilidad de la Escuela de Incidencia</h4>
      <ul>
        <li>Ser residente de Bolivia, Colombia, Ecuador o Perú;</li>
        <li>Estar al inicio o mediados de tu trayectoria profesional;</li>
        <li>Tener una clara conexión profesional con temas sociales, políticos, económicos y/o ambientales en tu país;</li>
        <li>Tener espíritu propositivo y pasión por generar cambios; y</li>
        <li>Tener acceso regular a Internet para intercambiar información y participar en videollamadas de seguimiento.</li>
      </ul>
      <p>Además, es deseable que cuentes con la siguiente experiencia personal y profesional:</p>
      <ul>
        <li>Conocimiento de las principales problemáticas sociopolíticas de tu región; </li>
        <li>Al menos dos años de experiencia trabajando desde la sociedad civil, organizaciones estudiantiles, movimientos sociales, partidos políticos, instituciones gubernamentales, academia, medios y/o instituciones con capacidad de incidencia política; y,</li>
        <li>Experiencia trabajando con los grupos y/o en iniciativas locales.</li>
      </ul>
      <a class="btn btn-danger" href="https://docs.google.com/forms/d/e/1FAIpQLScxB7CfjFAfguC_R7tF0RdvTcj6NNeJkG-bQl4yo4rtj-WjIA/viewform" role="button" target="_blank"><span>¡Postula aquí!</span></a>
    </div>
    <div class="col-md-6">
      <img src="img/mapa-ned.svg" class="img-responsive">
    </div>
    </div>
  </div>
</section>
<section class="container-ned" id="seleccionadxs">
  <div class="container">
    <div class="row">
      <h2>Seleccionadxs Escuela de Incidencia 2017</h2>
      {% include bolivia.html %}
    </div>
    <div class="row">
      {% include colombia.html %}
    </div>
    <div class="row">
      {% include ecuador.html %}
    </div>
    <div class="row">
      {% include peru.html %}
    </div>
  </div>
</section>
