---
layout: default
---
<section class="container-yellow header projects2">
  <div class="container">
  	<div class="row">
		<div class="col-md-8">
    		<h1>Projectos</h1>
    		<p>Como so feitos? A metodologia dos Labs Cívicos está composta pelas seguintes etapas.</p>
    	</div>
    </div>
    <div class="row">
        {% for card in site.projectcards %}
        <div class="col-md-4">
            <div class="panel panel-default card">
              <h4 class="text-center">{{card.title}}</h4>
              <img src="{{card.image}}" class="cards-image"></img>
              <div class="tarjeta">{% include projectcards.html %}</div>
              <a class="btn btn-danger center-block" href="{{card.permalink}}" role="button"><span>Ir al proyecto</span></a>
            </div>
        </div>
        {% endfor %}

    </div>    
  </div>
</section>
