<h4>Bolivia</h4>
<div class="col-sm-6 col-md-3 text-center"><!--Adri-->
  <a href="#" data-toggle="modal" data-target="#myModal-adri-chi">
  <img src="{{ site.baseurl }}/img/personas/b-adri-chi.png" alt="..."></a>
  <ul class="list-unstyled">
    <button type="button" class="btn btn-default btn-sm btn-block" href="#" data-toggle="modal" data-target="#myModal-adri-chi">Adri Chi</button>
    <li>Independiente</li>
  </ul>
</div>
<div class="col-sm-6 col-md-3 text-center"><!--Atenas-->
  <a href="#" data-toggle="modal" data-target="#myModal-atenas-vargas">
  <img src="{{ site.baseurl }}/img/personas/b-atenas-vargas.png" alt="..."></a>
  <ul class="list-unstyled">
    <button type="button" class="btn btn-default btn-sm btn-block" href="#" data-toggle="modal" data-target="#myModal-atenas-vargas">Atenas Vargas</button>
    <li>PRESABIS</li>
  </ul>
</div>
<div class="col-sm-6 col-md-3 text-center"><!--Carmen-->
  <a href="#" data-toggle="modal" data-target="#myModal-carmen-capriles">
  <img src="{{ site.baseurl }}/img/personas/b-carmen-capriles.png" alt="..."></a>
  <ul class="list-unstyled">
    <button type="button" class="btn btn-default btn-sm btn-block" href="#" data-toggle="modal" data-target="#myModal-carmen-capriles">Carmen Capriles</button>
    <li>Independiente</li>
  </ul>
</div>
<div class="col-sm-6 col-md-3 text-center"><!--Ivan-->
  <a href="#" data-toggle="modal" data-target="#myModal-ivan-pinto">
  <img src="{{ site.baseurl }}/img/personas/b-ivan-pinto.png" alt="..."></a>
  <ul class="list-unstyled">
    <button type="button" class="btn btn-default btn-sm btn-block" href="#" data-toggle="modal" data-target="#myModal-ivan-pinto">Ivan Pinto</button>
    <li>Fundación Gobierno Abierto</li>
  </ul>
</div>
<div class="col-sm-6 col-md-3 text-center"><!--Lucia-->
  <a href="#" data-toggle="modal" data-target="#myModal-lucia-centellas">
  <img src="{{ site.baseurl }}/img/personas/b-lucia-centellas.png" alt="..."></a>
  <ul class="list-unstyled">
    <button type="button" class="btn btn-default btn-sm btn-block" href="#" data-toggle="modal" data-target="#myModal-lucia-centellas">Lucia Centellas</button>
    <li>Esfuerzos de Mujeres Bolivianas</li>
  </ul>
</div>
<div class="col-sm-6 col-md-3 text-center"><!--Maria-->
  <a href="#" data-toggle="modal" data-target="#myModal-maria-bustamante">
  <img src="{{ site.baseurl }}/img/personas/b-maria-bustamante.png" alt="..."></a>
  <ul class="list-unstyled">
    <button type="button" class="btn btn-default btn-sm btn-block" href="#" data-toggle="modal" data-target="#myModal-maria-bustamante">María Isabel Bustamante</button>
    <li>Democratas</li>
  </ul>
</div>
<div class="col-sm-6 col-md-3 text-center"><!--Marvin-->
  <a href="#" data-toggle="modal" data-target="#myModal-marvin-velasco">
  <img src="{{ site.baseurl }}/img/personas/b-marvin-velasco.png" alt="..."></a>
  <ul class="list-unstyled">
    <button type="button" class="btn btn-default btn-sm btn-block" href="#" data-toggle="modal" data-target="#myModal-marvin-velasco">Marvin Velasco</button>
    <li>ONU Bolivia</li>
  </ul>
</div>
<div class="col-sm-6 col-md-3 text-center"><!--Raisa-->
  <a href="#" data-toggle="modal" data-target="#myModal-raisa-valda">
  <img src="{{ site.baseurl }}/img/personas/b-raisa-valda.png" alt="..."></a>
  <ul class="list-unstyled">
    <button type="button" class="btn btn-default btn-sm btn-block" href="#" data-toggle="modal" data-target="#myModal-raisa-valda">Raisa Valda</button>
    <li>Cuántas Más</li>
  </ul>
</div>

<!-- Modal -->
<!--Adri-->
<div class="modal fade" id="myModal-adri-chi" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="text-center">Adri Chi</h4>
        <div class="row">
          <div class="col-md-12 text-center">
            <img src="{{ site.baseurl }}/img/personas/b-adri-chi.png" alt="...">
          </div>
          <div class="col-md-12">
            <p class="text-center"><span>Independiente<br>Consultor Asesor Independiente en temas de juventud.</span></p>
            <p>Emprendedor, alegre y con mucha fortaleza para cambiar el mundo, hacia una democracia inclusiva y participativa.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!--Adri-->
<div class="modal fade" id="myModal-adri-chi" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="text-center">Adri Chi</h4>
        <div class="row">
          <div class="col-md-12 text-center">
            <img src="{{ site.baseurl }}/img/personas/b-adri-chi.png" alt="...">
          </div>
          <div class="col-md-12">
            <p class="text-center"><span>Independiente<br>Consultor Asesor Independiente en temas de juventud</span></p>
            <p>Emprendedor, alegre y con mucha fortaleza para cambiar el mundo, hacia una democracia inclusiva y participativa.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!--Atenas-->
<div class="modal fade" id="myModal-atenas-vargas" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="text-center">Atenas Vargas</h4>
        <div class="row">
          <div class="col-md-12 text-center">
            <img src="{{ site.baseurl }}/img/personas/b-atenas-vargas.png" alt="...">
          </div>
          <div class="col-md-12">
            <p class="text-center"><span>PRESABIS<br>Directora de Economía</span></p>
            <p>Activista por los derechos democráticos y políticos, con el firme objetivo de instalar el paradigma de Gobierno Abierto al sistema político.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!--carmen-->
<div class="modal fade" id="myModal-carmen-capriles" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="text-center">Carmen Capriles</h4>
        <div class="row">
          <div class="col-md-12 text-center">
            <img src="{{ site.baseurl }}/img/personas/b-carmen-capriles.png" alt="...">
          </div>
          <div class="col-md-12">
            <p class="text-center"><span>Independiente<br>Consultora Independiente</span></p>
            <p>Ingeniera Agrónoma; comprometida con el desarrollo sostenible, activista de derechos humanos, apasionada del cambio climático y amante de la naturaleza.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!--ivan-->
<div class="modal fade" id="myModal-ivan-pinto" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="text-center">Ivan Pinto</h4>
        <div class="row">
          <div class="col-md-12 text-center">
            <img src="{{ site.baseurl }}/img/personas/b-ivan-pinto.png" alt="...">
          </div>
          <div class="col-md-12">
            <p class="text-center"><span>Fundación Gobierno Abierto<br>Presidente</span></p>
            <p>Demócrata | Politólogo | Multitask | Pte. Fundación Gobierno Abierto | Co-Founder Agencia Wiki | Apasionado en Comunicación Política, Open Gov y más.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!--lucia-->
<div class="modal fade" id="myModal-lucia-centellas" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="text-center">Lucia Centellas</h4>
        <div class="row">
          <div class="col-md-12 text-center">
            <img src="{{ site.baseurl }}/img/personas/b-lucia-centellas.png" alt="...">
          </div>
          <div class="col-md-12">
            <p class="text-center"><span>Esfuerzos de Mujeres Bolivianas. Contribuciones locales para un mundo más seguro<br>Fundadora y Directora ejecutiva</span></p>
            <p>Creo en una construcción inclusiva e innovadora; transformar nuestra realidad es posible cuando sociedad civil y Estado trabajan juntos.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!--maria-->
<div class="modal fade" id="myModal-maria-bustamante" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="text-center">María Isabel Bustamante</h4>
        <div class="row">
          <div class="col-md-12 text-center">
            <img src="{{ site.baseurl }}/img/personas/b-maria-bustamante.png" alt="...">
          </div>
          <div class="col-md-12">
            <p class="text-center"><span>Democratas<br>Diputada Nacional del Estado Plurinacional de Bolivia </span></p>
            <p></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!--marvin-->
<div class="modal fade" id="myModal-marvin-velasco" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="text-center">Marvin Velasco</h4>
        <div class="row">
          <div class="col-md-12 text-center">
            <img src="{{ site.baseurl }}/img/personas/b-marvin-velasco.png" alt="...">
          </div>
          <div class="col-md-12">
            <p class="text-center"><span>ONU Bolivia<br>Joven Voluntario</span></p>
            <p>Joven voluntario, líder, agente de cambio y promotor de los Objetivos de Desarrollo Sostenible (ODS) en voluntarios ONU Bolivia.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!--raisa-->
<div class="modal fade" id="myModal-raisa-valda" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="text-center">Raisa Valda</h4>
        <div class="row">
          <div class="col-md-12 text-center">
            <img src="{{ site.baseurl }}/img/personas/b-raisa-valda.png" alt="...">
          </div>
          <div class="col-md-12">
            <p class="text-center"><span>Cuántas Más<br>Co-Responsable nacional</span></p>
            <p>Social Media Strategist y Fellow de Escuela de Datos 2016. Apasionada por el impacto de las nuevas tecnologías y las redes sociales en el campo social. @una_ratona</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
