<h4>Colombia</h4>
<div class="col-sm-6 col-md-3 text-center"><!--Bibiana Quintero-->
  <a href="#" data-toggle="modal" data-target="#myModal-bibiana-quintero">
  <img src="{{ site.baseurl }}/img/personas/c-bibiana-quintero.png" alt="..."></a>
  <ul class="list-unstyled">
    <button type="button" class="btn btn-default btn-sm btn-block" href="#" data-toggle="modal" data-target="#myModal-bibiana-quintero">Bibiana Quintero</button>
    <li>Centro de Derechos Humanos e Innovacin Social</li>
  </ul>
</div>
<div class="col-sm-6 col-md-3 text-center"><!--Carlos Parra-->
  <a href="#" data-toggle="modal" data-target="#myModal-carlos-parra">
  <img src="{{ site.baseurl }}/img/personas/c-carlos-parra.png" alt="..."></a>
  <ul class="list-unstyled">
    <button type="button" class="btn btn-default btn-sm btn-block" href="#" data-toggle="modal" data-target="#myModal-carlos-parra">Carlos Parra</button>
    <li>Centro Incide</li>
  </ul>
</div>
<div class="col-sm-6 col-md-3 text-center"><!--Caro Lara-Delgado-->
  <a href="#" data-toggle="modal" data-target="#myModal-caro-lara-delgado">
  <img src="{{ site.baseurl }}/img/personas/c-caro-lara-delgado.png" alt="..."></a>
  <ul class="list-unstyled">
    <button type="button" class="btn btn-default btn-sm btn-block" href="#" data-toggle="modal" data-target="#myModal-caro-lara-delgado">Caro Lara-Delgado</button>
    <li>Instituto Colombiano de Bienestar Familiar</li>
  </ul>
</div>
<div class="col-sm-6 col-md-3 text-center"><!--Danna Rodriguez-->
  <a href="#" data-toggle="modal" data-target="#myModal-danna-rodriguez">
  <img src="{{ site.baseurl }}/img/personas/c-danna-rodriguez.png" alt="..."></a>
  <ul class="list-unstyled">
    <button type="button" class="btn btn-default btn-sm btn-block" href="#" data-toggle="modal" data-target="#myModal-danna-rodriguez">Danna Rodríguez</button>
    <li>Plataforma Juvenil de Cáqueza</li>
  </ul>
</div>
<div class="col-sm-6 col-md-3 text-center"><!--Felipe Lesmes-->
  <a href="#" data-toggle="modal" data-target="#myModal-felipe-lesmes">
  <img src="{{ site.baseurl }}/img/personas/c-felipe-lesmes.png" alt="..."></a>
  <ul class="list-unstyled">
    <button type="button" class="btn btn-default btn-sm btn-block" href="#" data-toggle="modal" data-target="#myModal-felipe-lesmes">Felipe Lesmes</button>
    <li>Programa de las Naciones Unidas para el Desarrollo</li>
  </ul>
</div>
<div class="col-sm-6 col-md-3 text-center"><!--Giovanni Ramírez-->
  <a href="#" data-toggle="modal" data-target="#myModal-giovanni-ramirez">
  <img src="{{ site.baseurl }}/img/personas/c-giovanni-ramirez.png" alt="..."></a>
  <ul class="list-unstyled">
    <button type="button" class="btn btn-default btn-sm btn-block" href="#" data-toggle="modal" data-target="#myModal-giovanni-ramirez">Giovanni Ramírez</button>
    <li></li>
  </ul>
</div>
<div class="col-sm-6 col-md-3 text-center"><!--Jenny Moreno-->
  <a href="#" data-toggle="modal" data-target="#myModal-jenny-moreno">
  <img src="{{ site.baseurl }}/img/personas/c-jenny-moreno.png" alt="..."></a>
  <ul class="list-unstyled">
    <button type="button" class="btn btn-default btn-sm btn-block" href="#" data-toggle="modal" data-target="#myModal-jenny-moreno">Jenny Moreno</button>
    <li>Concejo de Bogotá D.C.</li>
  </ul>
</div>
<div class="col-sm-6 col-md-3 text-center"><!--Juan Rave-->
  <a href="#" data-toggle="modal" data-target="#myModal-juan-rave">
  <img src="{{ site.baseurl }}/img/personas/c-juan-rave.png" alt="..."></a>
  <ul class="list-unstyled">
    <button type="button" class="btn btn-default btn-sm btn-block" href="#" data-toggle="modal" data-target="#myModal-juan-rave">Juan Rave</button>
    <li>Fundación Universitaria del Área Andina</li>
  </ul>
</div>

<!-- Modal -->
<!--bibiana-->
<div class="modal fade" id="myModal-bibiana-quintero" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="text-center">Bibiana Quintero</h4>
        <div class="row">
          <div class="col-md-12 text-center">
            <img src="{{ site.baseurl }}/img/personas/c-bibiana-quintero.png" alt="...">
          </div>
          <div class="col-md-12">
            <p class="text-center"><span>Centro de Derechos Humanos e Innovacin Social<br>Presidente</span></p>
            <p>Estudiante de Derecho, apasionada por los derechos humanos y soñadora por excelencia. Creo profundamente que entre todos podemos construir el mundo que tanto queremos.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!--carlos-->
<div class="modal fade" id="myModal-carlos-parra" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="text-center">Carlos Parra</h4>
        <div class="row">
          <div class="col-md-12 text-center">
            <img src="{{ site.baseurl }}/img/personas/c-carlos-parra.png" alt="...">
          </div>
          <div class="col-md-12">
            <p class="text-center"><span>Centro Incide<br>Presidente</span></p>
            <p>Abogado y Profesor de Historia de las Ideas Políticas en la Universidad del Rosario. Coordinador de la Unidad de Trabajo Legislativo de la Representante Angélica Lozano. Co-creador de #ImPacta y @DebateColombia. </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!--caro-->
<div class="modal fade" id="myModal-caro-lara-delgado" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="text-center">Caro Lara-Delgado</h4>
        <div class="row">
          <div class="col-md-12 text-center">
            <img src="{{ site.baseurl }}/img/personas/c-caro-lara-delgado.png" alt="...">
          </div>
          <div class="col-md-12">
            <p class="text-center"><span>Instituto Colombiano de Bienestar Familiar<br>Asesora Dirección de Planeación y Control de Gestión</span></p>
            <p>Abogada, doctorante en ciencias políticas. Asesora en transparencia, participación y paz en Dirección de Planeación de Instituto Colombiano Bienestar Familiar.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!--danna-->
<div class="modal fade" id="myModal-danna-rodriguez" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="text-center">Danna Rodríguez</h4>
        <div class="row">
          <div class="col-md-12 text-center">
            <img src="{{ site.baseurl }}/img/personas/c-danna-rodriguez.png" alt="...">
          </div>
          <div class="col-md-12">
            <p class="text-center"><span>Plataforma Juvenil de Cáqueza<br>Coordinadora</span></p>
            <p>Lider juvenil de Cáqueza, al servicio de su comunidad. Defensora de los derechos humanos y abogada de causas sociales. Paz, transparencia y bien general.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!--felipe-->
<div class="modal fade" id="myModal-felipe-lesmes" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="text-center">Felipe Lesmes</h4>
        <div class="row">
          <div class="col-md-12 text-center">
            <img src="{{ site.baseurl }}/img/personas/c-felipe-lesmes.png" alt="...">
          </div>
          <div class="col-md-12">
            <p class="text-center"><span>Programa de las Naciones Unidas para el Desarrollo<br>Especialista en Incidencia para Política Ambiental</span></p>
            <p>Economista y magíster en Política Social y Desarrollo. Interés y experiencia en desarrollo sostenible, posconflicto y superación de pobreza.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!--giovanni-->
<div class="modal fade" id="myModal-giovanni-ramirez" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="text-center">Giovanni Ramírez</h4>
        <div class="row">
          <div class="col-md-12 text-center">
            <img src="{{ site.baseurl }}/img/personas/c-giovanni-ramirez.png" alt="...">
          </div>
          <div class="col-md-12">
            <p class="text-center"><span><br></span></p>
            <p></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!--jenny-->
<div class="modal fade" id="myModal-jenny-moreno" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="text-center">Jenny Moreno</h4>
        <div class="row">
          <div class="col-md-12 text-center">
            <img src="{{ site.baseurl }}/img/personas/c-jenny-moreno.png" alt="...">
          </div>
          <div class="col-md-12">
            <p class="text-center"><span>Concejo de Bogotá D.C.<br>Asesora</span></p>
            <p>Ingeniera Industrial, estudiante de maestría en políticas públicas de la Universidad de Los Andes, asesora en el Concejo de Bogotá.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!--juan rave-->
<div class="modal fade" id="myModal-juan-rave" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="text-center">Juan Rave</h4>
        <div class="row">
          <div class="col-md-12 text-center">
            <img src="{{ site.baseurl }}/img/personas/c-juan-rave.png" alt="...">
          </div>
          <div class="col-md-12">
            <p class="text-center"><span>Fundación Universitaria del Área Andina<br>Coordinador del Centro de Investigaciones Socio-Jurídicas</span></p>
            <p>Abogado y Magíster en Gestión Pública, capacitado para la generación e implementación de estrategias públicas para la protección y defensa de los derechos humanos Interesado en la formulación y evaluación de Políticas Públicas, en especial las de Género y Diversidad Sexual.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
