<h4>Ecuador</h4>
<div class="col-sm-6 col-md-3 text-center"><!--Andrea Romo-->
  <a href="#" data-toggle="modal" data-target="#myModal-andrea-romo">
  <img src="{{ site.baseurl }}/img/personas/e-andrea-romo.png" alt="..."></a>
  <ul class="list-unstyled">
    <button type="button" class="btn btn-default btn-sm btn-block" href="#" data-toggle="modal" data-target="#myModal-andrea-romo">Andrea Romo</button>
    <li>Organización</li>
  </ul>
</div>
<div class="col-sm-6 col-md-3 text-center"><!--Astrid Torres-->
  <a href="#" data-toggle="modal" data-target="#myModal-astrid torres">
  <img src="{{ site.baseurl }}/img/personas/e-astrid-torres.png" alt="..."></a>
  <ul class="list-unstyled">
    <button type="button" class="btn btn-default btn-sm btn-block" href="#" data-toggle="modal" data-target="#myModal-astrid-torres">Astrid Torres</button>
    <li>Organización</li>
  </ul>
</div>
<div class="col-sm-6 col-md-3 text-center"><!--Carolina Salazar-->
  <a href="#" data-toggle="modal" data-target="#myModal-andrea-romo">
  <img src="{{ site.baseurl }}/img/personas/e-carolina-salazar.png" alt="..."></a>
  <ul class="list-unstyled">
    <button type="button" class="btn btn-default btn-sm btn-block" href="#" data-toggle="modal" data-target="#myModal-carolina-salazar">Carolina Salazar</button>
    <li>Organización</li>
  </ul>
</div>
<div class="col-sm-6 col-md-3 text-center"><!--Danilo Manzano-->
  <a href="#" data-toggle="modal" data-target="#myModal-danilo-manzano">
  <img src="{{ site.baseurl }}/img/personas/e-danilo-manzano.png" alt="..."></a>
  <ul class="list-unstyled">
    <button type="button" class="btn btn-default btn-sm btn-block" href="#" data-toggle="modal" data-target="#myModal-danilo-manzano">Danilo Manzano</button>
    <li>Organización</li>
  </ul>
</div>
<div class="col-sm-6 col-md-3 text-center"><!--Paula Guerra-->
  <a href="#" data-toggle="modal" data-target="#myModal-andrea-romo">
  <img src="{{ site.baseurl }}/img/personas/e-paula-guerra.png" alt="..."></a>
  <ul class="list-unstyled">
    <button type="button" class="btn btn-default btn-sm btn-block" href="#" data-toggle="modal" data-target="#myModal-paula-guerra">Paula Guerra</button>
    <li>Organización</li>
  </ul>
</div>



<!-- Modal -->
<!--Andrea Romo-->
<div class="modal fade" id="myModal-andrea-romo" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="text-center">Andrea Romo</h4>
        <div class="row">
          <div class="col-md-12 text-center">
            <img src="{{ site.baseurl }}/img/personas/e-andrea-romo.png" alt="...">
          </div>
          <div class="col-md-12">
            <p class="text-center"><span>Jóvenes Creo Tungurahua<br>Vicepresidenta</span></p>
            <p>Creo en la libertad y en el poder de sociedad civil organizada y capacitada para incidir en la generación de política pública desde lo local.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!--Astrid Torres-->
<div class="modal fade" id="myModal-astrid-torres" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="text-center">Astrid Torres</h4>
        <div class="row">
          <div class="col-md-12 text-center">
            <img src="{{ site.baseurl }}/img/personas/e-astrid-torres.png" alt="...">
          </div>
          <div class="col-md-12">
            <p class="text-center"><span>Jóvenes Iberoamericanos<br></span></p>
            <p>Comunicadora social, estudiante de Derecho y Cine. Apasionada por las Ciencias Sociales y activista defensora de los Derechos Humanos.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!--Carolina Salazar-->
<div class="modal fade" id="myModal-carolina-salazar" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="text-center">Carolina Salazar</h4>
        <div class="row">
          <div class="col-md-12 text-center">
            <img src="{{ site.baseurl }}/img/personas/e-carolina-salazar.png" alt="...">
          </div>
          <div class="col-md-12">
            <p class="text-center"><span>La Ciudad Verde Ecuador<br>Coordinadora</span></p>
            <p>Ciudadana, ciclista, amante de la naturaleza y los espacios públicos. Co-fundadora del Colectivo Bici-Activista "BiciKultura" y Coordinadora del Colectivo Ciudadano "La Ciudad Verde Ecuador". Tiene un B.A. en Ecología Humana (College of the Atlantic, USA) y una maestría en Desarrollo Internacional con especialidad en Sociología del Desarrollo y Política Ambiental adquirida en la Universidad de Wageningen, Países Bajos.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!--Danilo Manzano-->
<div class="modal fade" id="myModal-danilo-manzano" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="text-center">Danilo Manzano</h4>
        <div class="row">
          <div class="col-md-12 text-center">
            <img src="{{ site.baseurl }}/img/personas/e-danilo-manzano.png" alt="...">
          </div>
          <div class="col-md-12">
            <p class="text-center"><span>Fundación Esquel<br>Coordinador de iniciativas juveniles</span></p>
            <p>Activista político LGBTI, Defensor de Derechos Humanos, en formación feminista. Conector de iniciativas juveniles y de la Sociedad Civil.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!--Paula Guerra-->
<div class="modal fade" id="myModal-paula-guerra" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="text-center">Paula Guerra</h4>
        <div class="row">
          <div class="col-md-12 text-center">
            <img src="{{ site.baseurl }}/img/personas/e-paula-guerra.png" alt="...">
          </div>
          <div class="col-md-12">
            <p class="text-center"><span>Residuos Ecuador<br>Gerente General</span></p>
            <p>Latinoamericana. Basuróloga por convicción. Activa en el fomento del reciclaje inclusivo. Convencida en el fomento de participación ciudadana en la construcción de ciudades inclusivas y sostenibles. Enamorada de la cultura popular, de la buena comida y la buena conversa.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
