<footer class="site-footer">
  <div id="footer">
    <div class="container">
      <div class="row">
        <div class="col-md-3">
            <b>Um projeto de</b>
            <div>
              <a href="//cidadanianteligente.org" target="_blank"><img src="{{ site.baseurl }}/img/logofcibr.png" title="Fundação Cidadania Inteligente" class="logo"></a>
            </div>
        </div>
        <div class="col-md-6">
          <b>Com o apoio de</b>
          <div>
            <img src="{{ site.baseurl }}/img/logo-hivos.png" class="logo">
            <img src="{{ site.baseurl }}/img/logo-ned.png" class="logo">
          </div>
        </div>
        <!--/.nav-collapse
        <div class="col-md-3 logo-footer">
          <ul class="list-unstyled">
            <b>Con el apoyo de</b>
            <div>
            <img src="{{ site.baseurl }}/img/logo-hivos.png"</a>
            <img src="{{ site.baseurl }}/img/logo-ned.png"</a></div>
          </ul>
        </div>
      --->
        <div class="col-md-3">
          <ul class="list-unstyled">
            <li><a href="mailto:contato@cidadaniainteligente.org?Subject=Prensa%20de%20Partido%20Publico" class="email-prensa" target="_top"><i class="fa fa-envelope-o"></i> Envie-nos um e-mail</a></li>
            <li><a href="//github.com/ciudadanointeligente/partidopublico" target="_blank"><i class="fa fa-github-alt"></i> Revise nosso código</a></li>
            <li><a href="//twitter.com/ciudadanoi" target="_blank"><i class="fa fa-twitter" aria-hidden="true"></i> @Ciudadanoi</a></li>
            <li><a href="//www.facebook.com/cidadaniainteligente" target="_blank"><i class="fa  fa-facebook" aria-hidden="true"></i> Cidadania Inteligente</li></a>
          </ul>
        </div>
      </div>
    </div>
  </div>
</footer>
