<footer class="site-footer">
  <div id="footer">
    <div class="container">
      <div id="disqus_thread"></div>
      <div class="row">
        <div class="col-md-4">
          <ul class="list-unstyled">
            <li><a href="mailto:info@ciudadanointeligente.org?Subject=Prensa%20de%20labcivico.org" class="email-prensa" target="_top"><i class="fa fa-envelope-o"></i> Correo de contacto</a></li>
          </ul>
        </div>
        <div class="col-md-4 logo-fci">
          <ul class="list-unstyled">
            <li>
              Desarrollado por <a href="http://ciudadanointeligente.org" target="_blank"><img src="img/logofci_footer.png" title="Fundación Ciudadano Inteligente"></a>
            </li>
          </ul>
        </div>
        <div class="col-md-4 text-right">
          <ul class="list-unstyled">
            <li><a href="https://github.com/ciudadanointeligente/labcivico" target="_blank"><i class="fa fa-github-alt"></i> Código en Github</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</footer>
