<footer class="site-footer">
  <div id="footer">
    <div class="container">
      <div class="row">
        <div class="col-md-3 logo-footer">
          <ul class="list-unstyled">
            <b>Un proyecto de</b>
            <li><a href="//ciudadanointeligente.org" target="_blank"><img src="{{ site.baseurl }}/img/logo-fci.png" title="Fundación Ciudadano Inteligente"></a>
            </li>
          </ul>
        </div>
        <!--/.nav-collapse
        <div class="col-md-3 logo-footer">
          <ul class="list-unstyled">
            <b>Con el apoyo de</b>
            <div>
            <img src="{{ site.baseurl }}/img/logo-hivos.png"</a>
            <img src="{{ site.baseurl }}/img/logo-ned.png"</a></div>
          </ul>
        </div>
      --->
        <div class="col-md-3">
          <ul class="list-unstyled">
            <li><a href="mailto:info@ciudadanointeligente.org?Subject=Prensa%20de%20Partido%20Publico" class="email-prensa" target="_top"><i class="fa fa-envelope-o"></i> Mándanos un correo</a></li>
            <li><a href="//github.com/ciudadanointeligente/partidopublico" target="_blank"><i class="fa fa-github-alt"></i> Revisa nuestro código</a></li>
            <li><a href="//twitter.com/ciudadanoi" target="_blank"><i class="fa fa-twitter" aria-hidden="true"></i> @Ciudadanoi</a></li>
            <li><a href="//www.facebook.com/ciudadanointeligente" target="_blank"><i class="fa  fa-facebook" aria-hidden="true"></i> Ciudadano Inteligente</li></a>
          </ul>
        </div>
      </div>
    </div>
  </div>
</footer>
