<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <div class="brand">
        <a class="site-title" href="{{ site.baseurl }}/"><img src="{{ site.baseurl }}/img/logo.png"></a>
        <div class="sub-brand"><a href="http://ciudadanointeligente.org" target="_blank">de CiudadanoInteligente.org</a>
        </div>
      </div>
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>

    <div id="navbar" class="navbar-collapse collapse">
      <ul class="nav navbar-nav navbar-right">
        <li><a href="{{ site.baseurl }}/que-es-labcivico.html">¿Qué es LabCívico?</a></li>
        <li><a href="{{ site.baseurl }}/testimonios.html">Testimonios</a></li>
        <!-- <li><a href="{{ site.baseurl }}/#proyectos">Proyectos</a></li> -->
        <li class="dropdown"><a href="{{ site.baseurl }}/proyectos.html" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Proyectos<span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="{{ site.baseurl }}/hackeando-al-machismo.html">Hackeando al machismo</a></li>
            <li><a href="{{ site.baseurl }}/reciveci.html">Reciveci</a></li>
            <li><a href="#">Perú</a></li>
          </ul> </li>-->
        <li><a href="{{ site.baseurl }}/sumate.html">Súmate</a></li>
        <li class="redes">
        <a href="#" onclick="window.open(&quot;//twitter.com/share?url=http://labcivico.org/&amp;via=ciudadanoi&amp;hashtags=LabCivico&amp;text=Colaboración, tecnología e incidencia para el cambio social&quot;,&quot;twitter&quot;,&quot;width=450, height=250&quot;)">
        <span class="fa-stack fa-lg">
        <i class="fa fa-circle fa-stack-2x"></i>
        <i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
        </span>
        </a>
        </li>
        <li class="redes">
        <a href="#" onclick="window.open(&quot;//www.facebook.com/sharer/sharer.php?u=http://labcivico.org/&quot;,&quot;facebook&quot;,&quot;width=450, height=250&quot;)">
        <span class="fa-stack fa-lg">
        <i class="fa fa-circle fa-stack-2x"></i>
        <i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
        </span>
        </a>
        </li>
      </ul>
    </div><!--/.nav-collapse -->
  </div>
</nav>
