<section class="container-blue">
  <div class="container">
    <div class="row">
      <div class="col-md-2"></div>
      <div class="col-md-8">
        <h2 class="text-center">Junte-se</h2>
        <p>Juntos podemos impulsar as mudanças que melhoram a vida de nossas comunidades e no Lab Cívico te entregamos as ferramentas para alcança-las. Descubra como participar:</p>   
      </div>
      <div class="col-md-2"></div>
    </div>
    <div class="row">
      <div class="col-md-4">
        <div class="row">
          <div class="col-md-12 sum01"></div>
          </div>
        <h4>Organizaciones de la sociedad civil</h4>
        <p>Podrás aprender de las experiencias de otras instituciones y descubrirás metodologías para mejorar el trabajo de tu organización.</p>
      </div>
      <div class="col-md-4">
      <div class="row">
          <div class="col-md-12 sum02"></div>
        </div>
        <h4>Gobierno y academia</h4>
        <p>Podrás poner tus conocimientos al servicio de la comunidad y descubrirás nuevos enfoques para los temas en los que te especializas.</p>
      </div>
      <div class="col-md-4">
        <div class="row">
          <div class="col-md-12 sum03"></div>
          </div>
        <h4>Activistas</h4>
        <p>Podrás utilizar tus habilidades con un fin social, conocer cómo trabajan otras organizaciones e involucrarte en un proyecto.</p>
      </div>
    </div>
    <div class="row">
      
    
      <div class="col-md-12 text-center">
        <a class="btn btn-warning" href="../sumate.html" role="button" target="_self"><span>Inscríbete</span></a>
      </div>
      

    </div>
  </div>
</section>




<!--
<div class="col-md-4">
  <a class="twitter-timeline" href="https://twitter.com/hashtag/LabCivico" data-widget-id="625768709542572033">Tweets sobre #LabCivico</a>
  <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
</div>-->
