<section class="container-blue" id="que-es">
	<div class="container">
	  <h2 class="text-center">O que é Lab Cívico?</h2>
	  <div class="row">
	  	  <div class="col-md-2"></div>
		  <div class="col-md-8 bajada">
		  Os Labs Cívicos são programas de participação coletiva que envolvem metodologias para definir objetivos de incidência, criação de redes de colaboração interdisciplinar, uso de tecnologias para mudança e estratégias comunicacionaos para alcançar os fins desenvolvidos colaborativamente. Nossa metodologia de trabalho se divide em seis passos:</div>
		  <div class="col-md-2"></div>
	  </div>
	  <div class="row">
	  	<div class="col-md-2">
	  		<div class="row">
				<div class="col-md-12 method01"></div>
			</div>
			<p>Analizamos o contexto social para identificar problemáticas relevantes.</p>
	  	</div>
	  	<div class="col-md-2">
	  		<div class="row">
				<div class="col-md-12 method02"></div>
			</div>
			<p>Determinamos metas e objetivos, definindo em conjunto o que se deseja alcançar e como chegaremos ao proposto.</p>
	  	</div>
	  	<div class="col-md-2">
	  		<div class="row">
				<div class="col-md-12 method03"></div>
			</div>
			<p>Definimos um produto que responda às necessidades detectadas e contribua para a solução da problemática que se busca atacar.</p>
	  	</div>
	  	<div class="col-md-2">
	  		<div class="row">
				<div class="col-md-12 method04"></div>
			</div>
			<p>Determinamos tarefas e responsabilidades para o projeto a ser desenvolvido em conjunto.</p>
	  	</div>
	  	<div class="col-md-2">
	  		<div class="row">
				<div class="col-md-12 method05"></div>
			</div>
			<p>Elaboramos uma estratégia comunicacional e de incidência para promover o produto e posiciona-lo em meios e redes sociais.</p>
	  	</div>
	  	<div class="col-md-2">
	  		<div class="row">
				<div class="col-md-12 method06"></div>
			</div>
			<p>Avaliamos os avanços existentes em relação aos objetivos levantados e definimos o futuro do projeto</p>
	  	</div>
	  </div>
	  <div class="row">
	  	<div class="col-md-12 text-center">
	  	<a class="btn btn-warning" href="../que-es-labcivico.html" role="button" target="_blank"><span>Mais informação</span></a>
	  	</div>
	</div>
</section>
