<section class="container-blue" id="que-es">
	<div class="container">
	  <h2 class="text-center">¿Qué es LabCívico?</h2>
	  <div class="bajada text-center">
	  Los Labs Cívicos son talleres en los que aprenderás metodologías para definir objetivos de incidencia, crear redes de colaboración interdisciplinaria, usar las tecnologías para el cambio y establecer estrategias comunicacionales para alcanzar los fines que se propone tu organización.</div>
	  <h3>¿Cómo trabajamos?</h3>
	  <div class="row">
	  	<div class="col-md-2">
			<p>Analizamos el contexto social para identificar problemáticas relevantes.</p>
	  	</div>
	  	<div class="col-md-2">
			<p>Determinamos metas y objetivos, definiendo en conjunto qué se desea lograr y cómo llegaremos a ello.</p>
	  	</div>
	  	<div class="col-md-2">
			<p>Definimos un producto que responda a las necesidades detectadas y contribuya a la solución de la problemática que se busca atacar.</p>
	  	</div>
	  	<div class="col-md-2">
			<p>Asignamos tareas y responsabilidades para el proyecto a desarrollar en conjunto.</p>
	  	</div>
	  	<div class="col-md-2">
			<p>Elaboramos un estrategia comunicacional y de incidencia para promocionar el producto y posicionarlo en medios y redes sociales.</p>
	  	</div>
	  </div>
	</div>
</section>