<section class="container-red" id="escuela-ned">
	<div class="container">
	  <h2 class="text-center">Escuela de Incidencia</h2>
	  <div class="row">
	  	  <div class="col-md-2"></div>
		  <div class="col-md-8 bajada">
		  Los Labs Cívicos son programas de participación colectiva que involucran metodologías para definir objetivos de incidencia, creación de redes de colaboración interdisciplinaria, uso de tecnologías para el cambio y estrategias comunicacionales para alcanzar los fines planteados colaborativamente. Nuestra metodología de trabajo se divide en seis pasos:</div>
		  <div class="col-md-2"></div>
	  </div>
  </div>
</section>
