<section class="container-red" id="escuela-ned">
	<div class="container">
	  <h2 class="text-center">Escuela de Incidencia</h2>
	  <div class="row">
		  <div class="col-md-8 col-md-offset-2 text-center">
		  <p>La Escuela de Incidencia busca fomentar el liderazgo colaborativo y participativo de nuevas generaciones para lograr cambios sociales a través de procesos de incidencia. Desde ésta se transfieren conocimientos y herramientas metodológicas a jóvenes activistas líderes, para fortalecer sus habilidades de planificación estratégica, facilitación de procesos colaborativos e incidencia en políticas públicas.</p>
			<a class="btn btn-info" href="../escuela-de-incidencia.html" role="button"><span>Más información</span></a>
	  </div>
  </div>
</section>
