<h4>Perú</h4>
<div class="col-sm-6 col-md-3 text-center perfil"><!--AndresDevoto-->
  <a href="#" data-toggle="modal" data-target="#myModal-andres-devoto">
  <img src="{{ site.baseurl }}/img/personas/p-andres-devoto.png" alt="..."></a>
  <ul class="list-unstyled">
    <button type="button" class="btn btn-default btn-sm btn-block" href="#" data-toggle="modal" data-target="#myModal-andres-devoto">Andrés Devoto</button>
    <li>Colectivo DespiertaLima / Contribuyentes por Respeto</li>
  </ul>
</div>
<div class="col-sm-6 col-md-3 text-center perfil"><!--CarlosArroyo-->
  <a href="#" data-toggle="modal" data-target="#myModal-carlos-arroyo">
  <img src="{{ site.baseurl }}/img/personas/p-carlos-arroyo.png" alt="..."></a>
  <ul class="list-unstyled">
    <button type="button" class="btn btn-default btn-sm btn-block" href="#" data-toggle="modal" data-target="#myModal-carlos-arroyo">Carlos Arroyo</button>
    <li>Proética</li>
  </ul>
</div>
<div class="col-sm-6 col-md-3 text-center perfil"><!--EvelynHuarcaya-->
  <a href="#" data-toggle="modal" data-target="#myModal-evelyn-huarcaya">
  <img src="{{ site.baseurl }}/img/personas/p-evelyn-huarcaya.png" alt="..."></a>
  <ul class="list-unstyled">
    <button type="button" class="btn btn-default btn-sm btn-block" href="#" data-toggle="modal" data-target="#myModal-evelyn-huarcaya">Evelyn Huarcaya</button>
    <li>Ministerio de Educación</li>
  </ul>
</div>
<div class="col-sm-6 col-md-3 text-center perfil"><!--GonzaloAlarcon-->
  <a href="#" data-toggle="modal" data-target="#myModal-gonzalo-alarcon">
  <img src="{{ site.baseurl }}/img/personas/p-gonzalo-alarcon.png" alt="..."></a>
  <ul class="list-unstyled">
    <button type="button" class="btn btn-default btn-sm btn-block" href="#" data-toggle="modal" data-target="#myModal-gonzalo-alarcon">Gonzalo Alarcón</button>
    <li>Grupo Limonta</li>
  </ul>
</div>
<div class="col-sm-6 col-md-3 text-center perfil"><!--Jessica Huamán-->
  <a href="#" data-toggle="modal" data-target="#myModal-jessica-huaman">
  <img src="{{ site.baseurl }}/img/personas/p-jessica-huaman.png" alt="..."></a>
  <ul class="list-unstyled">
    <button type="button" class="btn btn-default btn-sm btn-block" href="#" data-toggle="modal" data-target="#myModal-jessica-huaman">Jessica Huamán</button>
    <li>Nutriedúcate Perú</li>
  </ul>
</div>
<div class="col-sm-6 col-md-3 text-center perfil"><!--Jorge Vallejo-->
  <a href="#" data-toggle="modal" data-target="#myModal-jorge-vallejo">
  <img src="{{ site.baseurl }}/img/personas/p-jorge-vallejo.png" alt="..."></a>
  <ul class="list-unstyled">
    <button type="button" class="btn btn-default btn-sm btn-block" href="#" data-toggle="modal" data-target="#myModal-jorge-vallejo">Jorge Vallejo</button>
    <li>Instituto de Estudios Social Cristianos</li>
  </ul>
</div>
<div class="col-sm-6 col-md-3 text-center perfil"><!--Mirtha Vásquez-->
  <a href="#" data-toggle="modal" data-target="#myModal-mirtha-vasquez">
  <img src="{{ site.baseurl }}/img/personas/p-mirtha-vasquez.png" alt="..."></a>
  <ul class="list-unstyled">
    <button type="button" class="btn btn-default btn-sm btn-block" href="#" data-toggle="modal" data-target="#myModal-mirtha-vasquez">Mirtha Vásquez</button>
    <li>GRUFIDES</li>
  </ul>
</div>
<div class="col-sm-6 col-md-3 text-center perfil"><!--Patricia Alata-->
  <a href="#" data-toggle="modal" data-target="#myModal-patricia-alata">
  <img src="{{ site.baseurl }}/img/personas/p-patricia-alata.png" alt="..."></a>
  <ul class="list-unstyled">
    <button type="button" class="btn btn-default btn-sm btn-block" href="#" data-toggle="modal" data-target="#myModal-patricia-alata">Patricia Alata</button>
    <li>Lima Cómo Vamos</li>
  </ul>
</div>

<!-- Modal -->
<!--Andrés Devoto-->
<div class="modal fade" id="myModal-andres-devoto" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="text-center">Andrés Devoto</h4>
        <div class="row">
          <div class="col-md-12 text-center">
            <img src="{{ site.baseurl }}/img/personas/p-andres-devoto.png" alt="...">
          </div>
          <div class="col-md-12">
            <p class="text-center"><span>Colectivo DespiertaLima / Contribuyentes por Respeto<br>Promotor / Asistente de Investigación</span></p>
            <p>Soy un enamorado de Lima. Me interesan los temas urbanos con un enfoque de derecho administrativo, regulación y políticas públicas.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!--Carlos Arroyo-->
<div class="modal fade" id="myModal-carlos-arroyo" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="text-center">Carlos Arroyo</h4>
        <div class="row">
          <div class="col-md-12 text-center">
            <img src="{{ site.baseurl }}/img/personas/p-carlos-arroyo.png" alt="...">
          </div>
          <div class="col-md-12">
            <p class="text-center"><span>Proética<br>Coordinador en Proyectos de Acción Ciudadana y Gobierno Abierto</span></p>
            <p>Peruano, comunicador social, convencido de que la transparencia y el buen gobierno son posibles, solo hace falta ponerle ganas y querer hacer las cosas bien.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!--Evelyn Huarcaya-->
<div class="modal fade" id="myModal-evelyn-huarcaya" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="text-center">Evelyn Huarcaya</h4>
        <div class="row">
          <div class="col-md-12 text-center">
            <img src="{{ site.baseurl }}/img/personas/p-evelyn-huarcaya.png" alt="...">
          </div>
          <div class="col-md-12">
            <p class="text-center"><span>Ministerio de Educación<br>Especialista de Liderazgo Directivo</span></p>
            <p>Soy una maestra emprendedora. Apasionada de la educación, convencida que las políticas públicas inician desde los propios usuarios, escucharnos y entendernos es vital para desarrollar cambios estructurales y sostenibles.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!--Gonzalo Alarcón-->
<div class="modal fade" id="myModal-gonzalo-alarcon" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="text-center">Gonzalo Alarcón</h4>
        <div class="row">
          <div class="col-md-12 text-center">
            <img src="{{ site.baseurl }}/img/personas/p-gonzalo-alarcon.png" alt="...">
          </div>
          <div class="col-md-12">
            <p class="text-center"><span>Grupo Limonta<br>Coordinador de Proyectos</span></p>
            <p>Ingeniero civil convencido de que la ingeniería debe servir a las personas y con ganas de tener un impacto real en la sociedad.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!--Jessica Huamán-->
<div class="modal fade" id="myModal-jessica-huaman" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="text-center">Jessica Huamán</h4>
        <div class="row">
          <div class="col-md-12 text-center">
            <img src="{{ site.baseurl }}/img/personas/p-jessica-huaman.png" alt="...">
          </div>
          <div class="col-md-12">
            <p class="text-center"><span>Nutriedúcate Perú<br>Fundadora y Presidenta</span></p>
            <p>Nutricionista, especialista en nutrición pública, con Maestría en Ciencia Política y Gobierno. Emprendedora social con experiencia en proyectos sociales relacionados a seguridad alimentaria y juventudes.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!--Jorge Vallejo-->
<div class="modal fade" id="myModal-jorge-vallejo" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="text-center">Jorge Vallejo</h4>
        <div class="row">
          <div class="col-md-12 text-center">
            <img src="{{ site.baseurl }}/img/personas/p-jorge-vallejo.png" alt="...">
          </div>
          <div class="col-md-12">
            <p class="text-center"><span>Instituto de Estudios Social Cristianos<br>Docente y Coordinador Norte</span></p>
            <p>Primero ciudadano, luego politólogo y político de día a día. Aficionado a la historia y coleccionista. Contra la corrupción, más ciudadanía.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!--Mirtha Vásquez-->
<div class="modal fade" id="myModal-mirtha-vasquez" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="text-center">Mirtha Vásquez</h4>
        <div class="row">
          <div class="col-md-12 text-center">
            <img src="{{ site.baseurl }}/img/personas/p-mirtha-vasquez.png" alt="...">
          </div>
          <div class="col-md-12">
            <p class="text-center"><span>GRUFIDES<br>Directora Ejecutiva</span></p>
            <p>Abogada, defensora de derechos humanos, profesora universitaria. Comprometida con procesos sociales para la búsqueda de sociedades más equitativas, justas y con pleno respeto por la dignididad. Valores: solidaridad, compromiso y proactividad.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!--Patricia Alata-->
<div class="modal fade" id="myModal-patricia-alata" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="text-center">Patricia Alata</h4>
        <div class="row">
          <div class="col-md-12 text-center">
            <img src="{{ site.baseurl }}/img/personas/p-patricia-alata.png" alt="...">
          </div>
          <div class="col-md-12">
            <p class="text-center"><span>Lima Cómo Vamos<br>Coordinadora de proyectos</span></p>
            <p>Apasionada de la información y su poder para crear cambios sociales colaborativos. Enfocada en desarrollo sostenible, políticas públicas y vivir con coherencia.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
