<section class="container-yellow projects">
  <div class="container">
    <h2 class="text-center">Proyectos</h2>
    <div class="bajada text-center">
      <p>¿Cómo lo hacemos? La metodología de los Lab Cívicos se compone básicamente de las siguientes etapas</p>
    </div>
    <div class="row">
        {% for card in site.projectcards %}
        <div class="col-md-4">
            <div class="panel panel-default card">
              <h4 class="text-center">{{card.title}}</h4>
              <img src="{{card.image}}" class="cards-image"></img>
              <div class="tarjeta">{% include projectcards.html %}</div>
              <a class="btn btn-danger center-block" href="{{card.permalink}}" role="button" target="_blank"><span>Ir al proyecto</span></a>
            </div>
        </div>
        {% endfor %}

    </div>    
  </div>
</section>