<section class="container-yellow projects">
  <div class="container">
    <h2 class="text-center">Casos</h2>
    <div class="bajada text-center">
      <p>Conheça os produtos que foram desenvolvidos nos Labs Cívicos da Bolívia, do Equador e do Perú:</p>
    </div>
    <div class="row">
        {% for card in site.projectcards %}
        <div class="col-md-4">
            <div class="panel panel-default card">
              <h4 class="text-center">{{card.title}}</h4>
              <img src="{{card.image}}" class="cards-image"></img>
              <div class="tarjeta">{% include projectcards.html %}</div>
              <div class="hidden"><a class="btn btn-danger center-block" href="{{card.permalink}}" role="button" target="_blank"><span>Ir para o projecto</span></a></div>
            </div>
        </div>
        {% endfor %}

    </div>
  </div>
</section>
