<section class="jumbotron">
      <div>
        <div class="jumbo-photo" style="background-image:url(../img/01.jpg)">
        </div>

        <div class="jumbo-intro">
          <div class="container">
            <div class="row">
              <div class="blk col-md-12">
                <h1>Colaboração, tecnologia e incidência para a mudança social.</h1>
                <p>Fortalecemos redes de organizações da sociedade civil e cidadãos para que através do planejamento estratégico de objetivos e do uso de ferramentas tecnológicas, alcancem melhores modelos de incidência e ampliem seu impacto social.</p>
                <a href="#que-es"><i class="fa fa-chevron-down fa-2x"></i></a>
              </div>
            </div>
          </div>
        </div>

      </div>
</section>




