<div class="jumbotron">
    <div id="carousel-example-generic" class="carousel-jumbo slide" data-ride="carousel">
      <!-- wrapper for slides -->
      <div class="carousel-inner" role="listbox">
        <div class="item active">
          <img src="img/01.jpg" alt="First slide">
        </div>

        <div class="jumbotron-intro">
          <div class="container">
            <div class="row">
              <div class="blk col-md-12">
                <h1>Colaboración, tecnología e incidencia para el cambio social</h1>
                <p>Nos propusimos integrar a los sectores sociales y tecnológicos para fortalecer el desarrollo de herramientas innovadoras. </p>
                <a href="#metodologia"><i class="fa fa-chevron-down fa-2x"></i></a>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
</div>




