<section class="jumbotron">
      <div>
        <div class="jumbo-photo" style="background-image:url(../img/01.jpg)">
        </div>

        <div class="jumbo-intro">
          <div class="container">
            <div class="row">
              <div class="blk col-md-12">
                <h1>Colaboración, tecnología e incidencia para el cambio social</h1>
                <p>Fortalecemos redes de organizaciones de la sociedad civil y ciudadanos para que a través de la planeación estratégica de objetivos y el uso de herramientas tecnológicas alcancen mejores modelos de incidencia y amplíen su impacto social.</p>
                <a href="#que-es"><i class="fa fa-chevron-down fa-2x"></i></a>
              </div>
            </div>
          </div>
        </div>

      </div>
</section>




