/**
 * Site header
 */
.navbar-default{
    background-color: white;
    border: none;
}

.navbar-header{
    height: 70px;
}

.brand{
    padding-top: 8px;
}
.sub-brand{
    position: absolute;
    padding-left: 95px;
    line-height: 0.5;
    font-size: 13px;
}

.sub-brand a{
    color: $blue;
}

.sub-brand a:hover{
    color: $darkblue;
}

ul.nav.navbar-nav.navbar-right{
    padding-top: 11px;
}

.navbar-default .navbar-nav>li>a{
    color: $darkblue;
}

.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:focus, .navbar-default .navbar-nav>.open>a:hover{
    background-color: transparent;
    color: $blue;
}

.dropdown-menu{
    min-width: 0;
    border:none;
    box-shadow: none;
    border-radius: 0;
}

.dropdown-menu>li>a{
    color: $darkblue;
    font-weight: 300;
}

.dropdown-menu>li>a:hover{
    color: $blue;
    background-color: transparent;;
}

/**
 * Jumbotron
 */
.jumbotron{
    margin-bottom: 0px;
}

.jumbotron .h1, .jumbotron h1{
    font-size: 34px;
    color: white;
}

.jumbotron p{
    color: white;
    font-size: 19px;
}

/**
 * Containers
 */
.container{
    background-color: transparent;
 }

 .container-white{
    background-color:white;
    padding-top: 10px;
    padding-bottom: 30px;
    background-image: url("/img/equipo.png");
    background-repeat: no-repeat;
    background-blend-mode: multiply;
    background-position-x:940px;
    background-position-y:230px;
    min-height: 580px;
 }

 .container-grey{
    background-color:$lightgrey;
    padding-top: 10px;
    padding-bottom: 30px;
 }

 .container-yellow{
    padding-top: 10px;
    padding-bottom: 30px;
    background-color:$yellow;
    &.map {
        background-image: url("/img/mapa.png");
        background-repeat: no-repeat;
        background-blend-mode: multiply;
        background-position-x:650px;
        background-position-y: -10px;
        min-height: 560px;
    }
    &.timeline {
        background-image: url("/img/agenda.png");
        background-repeat: no-repeat;
        background-blend-mode: multiply;
        background-position-x:970px;
        background-position-y: 90px;
        min-height: 480px;
    }
}

.container-blue{
    background-color:$blue;
    &.sumate{
    background-image: url("/img/sumate.png");
    background-repeat: no-repeat;
    background-blend-mode: multiply;
    background-position-x:0;
    background-position-y:130px;
    min-height: 450px;
    }
    &.about{
    color: white;
    min-height: 550px;
    margin-top: 70px;
    background-image: url("/img/about.png");
    background-repeat: no-repeat;
    background-blend-mode: multiply;
    background-position-x:700px;
    background-position-y:-10px;
    min-height: 550px;
    padding-top: 25px;
    }
 }

.projects{
    padding-left: 10px;
    min-height: 250px;
}

 /**
 * Headings
 */
h1{
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 38px;
}
h2{
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 20px;
    margin-bottom: 30px;
    color: white;
}
h3{
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 16px;
    margin-top: 26px;
    margin-bottom: 2px;
}

h4{
    font-family: 'Open Sans', sans-serif;
    font-size: 40px;
    font-weight: 700;
    text-align: center;
    line-height: 0.7;
    color: white;
}

h5{
    font-family: 'Open Sans', sans-serif;
    font-size: 40px;
    font-weight: 300;
    text-align: center;
    line-height: 0.7;
    color: white;
}

.container-grey h2{
    color: $blue;
}

.container-white h2{
    color: $blue;
}

/**
 * Basic styling
 */
.col-md-3 {
    &.initiatives {
    padding-top: 100px;    }
    &.project{
        min-height: 200px;
        margin-bottom: 30px;
    }
}

.col-md-4{
    &.team{
        margin-top: 5px;
        margin-bottom: 10px;
    }
    &.person{
        margin-top: 15px;
    }
}

/**
 * Basic styling
 */
body {
    font-family: $base-font-family;
    font-size: $base-font-size;
    line-height: $base-line-height;
    font-weight: 300;
    color: $grey;
    background-color: $lightgrey;
    -webkit-text-size-adjust: 100%;
}

/**
 * Labels
 */
.label{
    border-radius: 0;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 11px;
    line-height:4;
    &.yellow {
        background-color: $darkyellow;
    }
    &.orange{
        background-color: #DA6250;
    }
    &.pink{
        background-color: #AF2C58;
    }
}

a:hover{
    text-decoration: none;
}

.container-blue.about a{
    color: $darkblue;
    font-weight: 400;
}

/**
 * Form
 */
.form-control{
    border:0px;
    border-radius: 0;
    margin-bottom: 5px;
}

.text.form-control{
    min-height: 100px;
}

.btn-default{
    color: white;
    border: none;
    border-radius: 0;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    &.yellow{
        background-color: $yellow;
    }   
    &.blue{
        background-color: $blue;
        margin-top: 30px;
    }   
}

