/**
 * Site header
 */
.navbar-default{
    background-color: white;
    border: none;
}

.navbar-header{
    height: 70px;
}

.brand{
    padding-top: 8px;
}
.sub-brand{
    position: absolute;
    padding-left: 95px;
    line-height: 0.5;
    font-size: 13px;
}

ul.nav.navbar-nav.navbar-right{
    padding-top: 11px;
}

.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:focus, .navbar-default .navbar-nav>.open>a:hover{
    background-color: transparent;;
}

/**
 * Jumbotron
 */
.jumbotron{
    margin-bottom: 0px;
}

.jumbotron .h1, .jumbotron h1{
    font-size: 34px;
    color: white;
}

.jumbotron p{
    color: white;
    font-size: 19px;
}

/**
 * Containers
 */
.container{
    background-color: transparent;
 }

 .container-grey{
    background-color:$lightgrey;
    padding-top: 10px;
    padding-bottom: 30px;
 }

 .container-yellow{
    padding-top: 10px;
    padding-bottom: 30px;
    background-color:$yellow;
    &.map {
        background-image: url("/img/mapa.png");
        background-repeat: no-repeat;
        background-blend-mode: multiply;
        background-position-x:600px;
    }
}

  .container-blue{
    background-color:$blue;
 }

.projects{
    padding-left: 10px;
}

 /**
 * Headings
 */
h1{
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 38px;
}
h2{
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 20px;
    margin-bottom: 30px;
    color: white;
}
h3{
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 16px;
    margin-top: 26px;
    margin-bottom: 2px;
}

h4{
    font-family: 'Open Sans', sans-serif;
    font-size: 40px;
    font-weight: 700;
    text-align: center;
    line-height: 0.7;
}

h5{
    font-family: 'Open Sans', sans-serif;
    font-size: 40px;
    font-weight: 300;
    text-align: center;
    line-height: 0.7;
}

.container-grey h2{
    color: $blue;
}

/**
 * Basic styling
 */
.col-md-3 {
    &.projects {
    }
}

/**
 * Basic styling
 */
body {
    font-family: $base-font-family;
    font-size: $base-font-size;
    line-height: $base-line-height;
    font-weight: 300;
    color: $grey;
    background-color: $lightgrey;
    -webkit-text-size-adjust: 100%;
}

/**
 * Labels
 */
.label{
    border-radius: 0;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 11px;
    line-height:4;
}

.label-warning{
    background-color: $darkyellow;
}

a:hover{
    text-decoration: none;
}
