/*BASIC STYLING*/
body {
  -webkit-font-smoothing: antialiased;
  -webkit-text-shadow: rgba(0,0,0,.01) 0 0 1px;
  text-shadow: rgba(0,0,0,.01) 0 0 1px;
  font-family: $base-font-family;
  font-size: $base-font-size;
  line-height: $base-line-height;
  font-weight: 400;
  color: white;
  background-color: $grey-light;
  -webkit-text-size-adjust: 100%;
}

span{
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 13px;
}

/*SITE HEADER*/
a {
  color: $blue;
}

.btn a {
  color: white;
  text-decoration: none;
}

.btn a:hover {
  color: white;
  text-decoration: none;
}

a:focus, a:hover {
    color: $blue-dark;
}


.navbar-default{
    background-color: white;
    border: none;
}

.navbar-header{
    height: 70px;
}

.brand{
    padding-top: 8px;
}
.sub-brand{
    position: absolute;
    padding-left: 95px;
    line-height: 0.5;
    font-size: 13px;
}

.sub-brand a{
    color: $blue;
}

.sub-brand a:hover{
    color: $blue-dark;
}

ul.nav.navbar-nav.navbar-right{
    padding-top: 11px;
}

.navbar-default .navbar-nav>li>a{
    color: $blue-dark;
}

.navbar-default .navbar-nav > li > a:hover{
    color: $blue;
}

.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:focus, .navbar-default .navbar-nav>.open>a:hover{
    background-color: transparent;
    color: $blue;
}

.dropdown-menu{
    min-width: 0;
    border:none;
    box-shadow: none;
    border-radius: 0;
}

.dropdown-menu>li>a{
    color: $blue-dark;
    font-weight: 300;
}

.dropdown-menu>li>a:hover{
    color: $blue;
    background-color: transparent;;
}

section {
    padding: 70px 0 75px;
}

li.redes {
    margin-top: -9px;
    width: 40px;
}


/*JUMBOTRON*/
a .fa-chevron-down {
    background-color:$blue;
    color: rgb(255, 255, 255);
    padding: 15px;
    border-radius: 30px;
    transition: all 0.5s;
    -moz-transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
}

a .fa-chevron-down:hover {
    background-color:$magenta;
}

.jumbotron{
    position: relative;
    overflow: hidden;
    max-height: 810px;
    margin-bottom: 0px;
    padding-bottom: 0px;
}

.jumbotron-intro {
    position: absolute;
    width: 100%;
    padding: 0 15px;
    z-index: 50;
    top: 180px;
    text-align: center;
    color: #FFF;
}
/*
.carousel:before {
    top: 0;
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    content: "";
    z-index: 40;
    background: url(../img/bg.png) repeat;
}*/

.jumbotron p {
    margin-bottom: 15px;
    font-size: 31px;
    font-weight: 400;
}

.social-network {
    text-align: center;
}

/*CONTAINERS*/
.container{
    background-color: transparent;
 }

 .container-white{
    background-color:white;
 }

 .container-grey{
    background-color:$grey-light;
    h3{
      color: $grey;
    }
 }

 .container-yellow{
    background-color:$yellow;
    &.map {
        background-image: url("../img/mapa.png");
        background-repeat: no-repeat;
        background-blend-mode: multiply;
        background-position-x:90%;
        background-position-y: -10px;
        min-height: 410px;
    }
}

.container-blue{
    background-color:$blue;
    &.sumate{
      background-image: url("../img/sumate.png");
      background-repeat: no-repeat;
      background-blend-mode: multiply;
      background-position-x:-20px;
      background-position-y:0px;
      min-height: 450px;
    }
 }

 .container-magenta{
    background-color:$magenta;
 }

/*HEADINGS*/
h1{
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 40px;
}
h2{
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 30px;
}
h3{
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 26px;
}

h4{
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    font-weight: 600;
    line-height: 0.7;
}

h5{
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 0.7;
}

/*PANELS*/
.panel{
  color: $grey;
  padding: 15px;
  border: none;
  border-radius: 0;
}

/*BUTTONS*/
.btn-info {
  background-color: $blue;
  border: none;
}
.btn-info:hover{
    background-color: $yellow;
}

/*IMAGES*/
.cards-image{
  width: 100%;
  margin-bottom: 10px;
}

/*QUOTES*/
p.quote{
  font-size: 15px;
  line-height: 28px;
}

/*CAROUSEL*/
.carousel{
  min-height: 230px;
}

.carousel-control.left{
  background-image: none;
}
.carousel-control.right{
  background-image: none;
}

/*PROJECTS*/
p.context{
  padding-bottom: 4px;
  border-bottom: 1px solid;
  border-color: $blue; 
  color: $blue;
}

/*TIMELINE*/
.timeline {
    list-style: none;
    padding: 20px 0 20px;
    position: relative;
    color: $grey;
}

    .timeline:before {
        top: 36px;
        bottom: -80px;
        position: absolute;
        content: " ";
        width: 4px;
        background-color: white;
        left: 50%;
        margin-left: -1.5px;
    }

    .timeline > li {
        margin-bottom: 20px;
        position: relative;
    }

        .timeline > li:before,
        .timeline > li:after {
            content: " ";
            display: table;
        }

        .timeline > li:after {
            clear: both;
        }

        .timeline > li:before,
        .timeline > li:after {
            content: " ";
            display: table;
        }

        .timeline > li:after {
            clear: both;
        }

        .timeline > li > .timeline-panel {
            width: 46%;
            float: left;
            padding: 20px;
            position: relative;
            background-color: white;
            &.active{
              h4{
                color: $blue;
              }
            }
        }

            .timeline > li > .timeline-panel:before {
                position: absolute;
                top: 26px;
                right: -15px;
                display: inline-block;
                border-top: 15px solid transparent;
                border-left: 15px solid transparent;
                border-right: 0 solid transparent;
                border-bottom: 15px solid transparent;
                content: " ";
            }

            .timeline > li > .timeline-panel:after {
                position: absolute;
                top: 27px;
                right: -14px;
                display: inline-block;
                border-top: 14px solid transparent;
                border-left: 14px solid #fff;
                border-right: 0 solid #fff;
                border-bottom: 14px solid transparent;
                content: " ";
            }

        .timeline > li > .timeline-badge {
            color: #fff;
            width: 50px;
            height: 50px;
            line-height: 50px;
            font-size: 1.4em;
            text-align: center;
            position: absolute;
            top: 16px;
            left: 50%;
            margin-left: -25px;
            background-color: #999999;
            z-index: 100;
            border-top-right-radius: 50%;
            border-top-left-radius: 50%;
            border-bottom-right-radius: 50%;
            border-bottom-left-radius: 50%;
        }

        .timeline > li.timeline-inverted > .timeline-panel {
            float: right;
        }

            .timeline > li.timeline-inverted > .timeline-panel:before {
                border-left-width: 0;
                border-right-width: 15px;
                left: -15px;
                right: auto;
            }

            .timeline > li.timeline-inverted > .timeline-panel:after {
                border-left-width: 0;
                border-right-width: 14px;
                left: -14px;
                right: auto;
            }

.timeline-badge.inactive {
    background-color: white !important;
}

.timeline-badge.active {
    background-color: $blue !important;
}

.timeline-badge.transparent {
    background-color: transparent !important;
    margin-top: 70px;
}

.timeline-title {
    margin-top: 0;
    color: inherit;
}

.timeline-body > p,
.timeline-body > ul {
    margin-bottom: 0;
}

    .timeline-body > p + p {
        margin-top: 5px;
    }

@media (max-width: 767px) {
    ul.timeline:before {
        left: 40px;
    }

    ul.timeline > li > .timeline-panel {
        width: calc(100% - 90px);
        width: -moz-calc(100% - 90px);
        width: -webkit-calc(100% - 90px);
    }

    ul.timeline > li > .timeline-badge {
        left: 15px;
        margin-left: 0;
        top: 16px;
    }

    ul.timeline > li > .timeline-panel {
        float: right;
    }

        ul.timeline > li > .timeline-panel:before {
            border-left-width: 0;
            border-right-width: 15px;
            left: -15px;
            right: auto;
        }

        ul.timeline > li > .timeline-panel:after {
            border-left-width: 0;
            border-right-width: 14px;
            left: -14px;
            right: auto;
        }
}

/*FORM*/
.form-control{
    border:0px;
    border-radius: 0;
    margin-bottom: 5px;
}

.text.form-control{
    min-height: 100px;
}

/*BLOG*/
section#blog-page {
  margin-top: 40px;
}

#blog-page h1 {
  color: $grey;
  margin-top:0px;
}

#blog-page h2 {
  color: $grey;
}

.blog-menu {
  margin-top: 88px;
}

.posts li {
    border-top: 4px solid white;
    padding-bottom: 40px;
}

.posts img {
    width: 100%;
}

/*INPUT*/
input{
    border:none;
    width: 100%;
    height: 36px;
    padding: 8px;
    float: left;
    margin-bottom: 4px;
    color: $grey;
}

textarea{
    border:none;
    padding: 8px;
    margin-bottom: 4px;
    width: 100%;
    color: $grey;
}

label{
    float: left;
}


/*FOOTER*/
.site-footer {
    background-color: $blue-dark;
    color: white;
    padding: 40px 0;
}

.logo-fci img {
  width: 200px;
}

.site-footer a:hover, .site-footer a:focus {
  color: #FFF;
}

/*MEDIA-QUERIS*/
@media (max-width: 1000px) {

  .jumbotron .h1, .jumbotron h1 {
    font-size: 42px;
  }

  .jumbotron p {
    font-size: 21px;
  }

  .site-footer li {
      text-align: center;
  }

  .blog-menu {
    display: none;
  }

}

@media (max-width: 800px) {

  .jumbotron p {
    display: none;
  }

}

@media (max-width: 500px) {

  .jumbotron-intro {
      top: 75px;
  }

  .jumbotron h1 {
      font-size: 31px;
  }

  a .fa-chevron-down {
      display: none;
  }

}
