---
layout: default
---
{% assign card = page %}
<section class="container-yellow header">
	<div class="container">
		<div class="row">
			<div class="col-md-8">
				<h1>{{card.title}}</h1>
			</div>
			<div class="col-md-4">
				<div class="panel panel-default">
				{% assign card = page %}
				{% include projectcards.html%}
				</div>
			</div>
		</div>
	</div>
</section>

<section class="container-blue">
	<div class="container">
		<div class="row">			
			<div class="col-md-2">
			</div>
			<div class="col-md-8">
				<p>{{card.title}}</p>
			</div>
			<div class="col-md-2">
			</div>
		</div>
	</div>
</section>

<section class="container-photo">
    <img src="{{card.image}}"></img>
</section>

<section class="container-yellow">
	<div class="container">
		<div class="row">			
			<div class="col-md-12">
				<h2>Estado del proyecto</h2>
				<!--TIMELINE-->
				<div class="container">
				    </div>
				    <ul class="timeline">
				        <li>
				          <div class="timeline-badge inactive"></div>
				          <div class="timeline-panel">
				            <div class="timeline-heading">
				              <h4 class="timeline-title">{{card.state01}}</h4>
				            </div>
				            <div class="timeline-body">
				              <p>{{card.state01}}</p>
				            </div>
				          </div>
				        </li>
				        <li class="timeline-inverted">
				          <div class="timeline-badge active"><i class="fa fa-map-marker fa-lg"></i></div>
				          <div class="timeline-panel active">
				            <div class="timeline-heading">
				              <h4 class="timeline-title">{{card.state02}}</h4>
				            </div>
				            <div class="timeline-body">
				              <p>{{card.state02}}</p>
				            </div>
				          </div>
				        </li>
				        <li>
				          <div class="timeline-badge inactive"></div>
				          <div class="timeline-panel hidden">
				            <div class="timeline-heading">
				              <h4 class="timeline-title">{{card.state03}}</h4>
				            </div>
				            <div class="timeline-body">
				              <p class="hidden">{{card.state03}}</p>
				            </div>
				          </div>
				        </li>
				        <li>
				          <div class="timeline-badge transparent">
				          	<i class="fa fa-chevron-down fa-lg"></i>
				          </div>
						</li>
				    </ul>
				</div>

			</div>
		</div>
	</div>
</section>

<section class="container-red">
	<div class="container">
		<div class="row">			
			<div class="col-md-12">
				<h2>Galería de imágenes</h2>
				<!-- The Bootstrap Image Gallery lightbox, should be a child element of the document body -->
				<div id="blueimp-gallery" class="blueimp-gallery">
				    <!-- The container for the modal slides -->
				    <div class="slides"></div>
				    <!-- Controls for the borderless lightbox -->
				    <h3 class="title"></h3>
				    <a class="prev">‹</a>
				    <a class="next">›</a>
				    <a class="close">×</a>
				    <a class="play-pause"></a>
				    <ol class="indicator"></ol>
				    <!-- The modal dialog, which will be used to wrap the lightbox content -->
				    <div class="modal fade">
				        <div class="modal-dialog">
				            <div class="modal-content">
				                <div class="modal-header">
				                    <button type="button" class="close" aria-hidden="true">&times;</button>
				                    <h4 class="modal-title"></h4>
				                </div>
				                <div class="modal-body next"></div>
				                <div class="modal-footer">
				                    <button type="button" class="btn btn-default pull-left prev">
				                        <i class="glyphicon glyphicon-chevron-left"></i>
				                        Previous
				                    </button>
				                    <button type="button" class="btn btn-primary next">
				                        Next
				                        <i class="glyphicon glyphicon-chevron-right"></i>
				                    </button>
				                </div>
				            </div>
				        </div>
				    </div>
				</div>

				<div id="links">
				    <a href="{{card.img01}}" data-gallery>
				        <img src="{{card.thumb01}}" class="galeria">
				    </a>
				    <a href="{{card.img02}}" data-gallery>
				        <img src="{{card.thumb02}}" class="galeria">
				    </a>
				    <a href="{{card.img03}}" data-gallery>
				        <img src="{{card.thumb03}}" class="galeria">
				    </a>
				    <a href="{{card.img04}}" data-gallery>
				        <img src="{{card.thumb04}}" class="galeria">
				    </a>
				    <a href="{{card.img05}}" data-gallery>
				        <img src="{{card.thumb05}}" class="galeria">
				    </a>
				    <a href="{{card.img06}}" data-gallery>
				        <img src="{{card.thumb06}}" class="galeria">
				    </a>
				    <a href="{{card.img07}}" data-gallery>
				        <img src="{{card.thumb07}}" class="galeria">
				    </a>
				</div>


			</div>
		</div>
	</div>
</section>

<section class="container-blue">
	<div class="container">
		<div class="row">			
			<div class="col-md-12">
				<h2>Participantes</h2>
			</div>
		</div>
		<div class="row">			
			<div class="col-md-3">
				<div class="panel panel-default">
					<span>{{card.person01}}</span>
				</div>
			</div>
			<div class="col-md-3">
				<div class="panel panel-default">
					<span>{{card.person02}}</span>
				</div>
			</div>
			<div class="col-md-3">
				<div class="panel panel-default">
					<span>{{card.person03}}</span>
				</div>
			</div>
			<div class="col-md-3">
				<div class="panel panel-default">
					<span>{{card.person04}}</span>
				</div>
			</div>
			<div class="col-md-3">
				<div class="panel panel-default">
					<span>{{card.person05}}</span>
				</div>
			</div>
			<div class="col-md-3">
				<div class="panel panel-default">
					<span>{{card.person06}}</span>
				</div>
			</div>
			<div class="col-md-3">
				<div class="panel panel-default">
					<span>{{card.person07}}</span>
				</div>
			</div>
			<div class="col-md-3">
				<div class="panel panel-default">
					<span>{{card.person08}}</span>
				</div>
			</div>
			<div class="col-md-3">
				<div class="panel panel-default">
					<span>{{card.person09}}</span>
				</div>
			</div>
			<div class="col-md-3">
				<div class="panel panel-default">
					<span>{{card.person10}}</span>
				</div>
			</div>
			<div class="col-md-3">
				<div class="panel panel-default">
					<span>{{card.person11}}</span>
				</div>
			</div>
			<div class="col-md-3">
				<div class="panel panel-default">
					<span>{{card.person12}}</span>
				</div>
			</div>
			<div class="col-md-3">
				<div class="panel panel-default">
					<span>{{card.person13}}</span>
				</div>
			</div>
			<div class="col-md-3">
				<div class="panel panel-default">
					<span>{{card.person14}}</span>
				</div>
			</div>
			<div class="col-md-3">
				<div class="panel panel-default">
					<span>{{card.person15}}</span>
				</div>
			</div>

		</div>
	</div>
</section>


<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="//blueimp.github.io/Gallery/js/jquery.blueimp-gallery.min.js"></script>
<script src="js/bootstrap-image-gallery.min.js"></script>
