---
layout: default
---
{% assign card = page %}
<div class="container-blue header">
	<div class="container">
		<div class="row">
			<div class="col-md-8">
				<h1>{{card.title}}</h1>
			</div>
			<div class="col-md-4">
				<div class="panel panel-default">
				{% assign card = page %}
				{% include projectcards.html%}
				</div>
			</div>
		</div>
	</div>
</div>

<div class="container-blue">
	<p>{{card.intro}}</p>
</div>

<div class="container-photo">
	<h2>Estado del proyecto</h2>
</div>

<div class="container-yellow">
	<h2>Estado del proyecto</h2>
</div>

<div class="container-grey">
	<h2>Galería de imágenes</h2>
</div>

<div class="container-red">
	<h2>Participantes</h2>
</div>
