---
layout: default
---


<section id="blog-page">
  <div class="container">
    <div class="row">
      <div class="col-md-3">
        {% for post in site.posts %}
          <ul class="list-unstyled">
            <li>
              <small>{{ post.date | date_to_string }}</small>
              <a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a>
            </li>
          </ul>
        {% endfor %}
      </div>
      <div class="col-md-9">
        <h1>{{ page.title }}</h1>
        <small>{{ page.date | date_to_string }} por {{ page.author }} • Tiempo de lectura : {{ words | plus: 250 | divided_by: 180 | append: " minuto(s)" }}</small>
        <p>{{ page.content }}</p>
      </div>
      <div class="col-md-12">
        <button class="btn btn-default pull-right">Ver todas las entradas</button>
      </div>
    </div>
  </div>
</section>